includes:
   - vendor-bin/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
   - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
   - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
   - phpstan-baseline.neon

parameters:
  bootstrapFiles:
    - tools/phpunit.phar

  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: max
  paths:
    - src
    - tests

  tmpDir: .var/cache/phpstan
